{% include header.html title=site.top_title %}
{% assign custom_category = site.custom_category_name | default: 'opinion' %}
{% assign custom_category_title = site.custom_category_title | default: 'Opinions' %}
{% assign custom_category_subtitle = site.custom_category_subtitle | default: '"A view or judgement [formed] about something"' %}

{{ content }}

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div class="section hero">
    <div class="container">
      <div class="row imf">
        <div class="one-half-column">
            <h1><span class="blog">blog.</span>{{ site.top_name }}</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="section banner imf">
    <div class="container">
        <div class="row">
          <div class="one-half column">
              {{ site.top_description }}
          </div>
        </div>
    </div>
  </div>

  <div class="color-overlay">
  <div class="section posts imf">
    <div class="container">
      <div class="row">
        <div class="two-thirds column value">
        {% for post in site.posts %}
        {% unless post.categories contains custom_category %}
        <h4 class="post-title"><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h4>
          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          <h5 class="post-date">{{ post.date | date: date_format }}</h5>
          <p class="post-intro">{{ post.excerpt | strip_html | normalize_whitespace | truncate: 300 | escape }}</p>
          <p class="post-link"><a href="{{ post.url | relative_url }}">Read more ...</a></p>
        {% endunless %}
        {% endfor %}
        </div>
        <div class="one-third column value">
          <h3 class="opinion-section-title">{{ custom_category_title }}</h3>
          {% for post in site.posts %}
          {% if post.categories contains custom_category %}
          <p class="opinions-intro">
          {{ custom_category_subtitle }}
          </p>
          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          <h4 class="opinion-title"><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h4>
          <h5 class="opinion-date">{{ post.date | date: date_format }}</h5>
          <p class="opinion-intro">{{ post.excerpt | strip_html | normalize_whitespace | truncate: 200 | escape }}</p>
          <p class="post-link"><a href="{{ post.url | relative_url }}">Read more ...</a></p>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  </div>

  {% include footer.html %}

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
